<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdmgap.arif.com.outfits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_outfit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Mens_OutFit" />
        <activity android:name=".Womens_OutFit" />
        <activity android:name=".Boys_Outfit" />
        <activity android:name=".Girls_OutFit" />
        <activity
            android:name=".Mens_OutFit_FacebookView"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".Mens_OutFit_YouTubeView"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".Mens_OutFit_InstagramView"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".Womens_OutFit_FacebookView"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".Womens_OutFit_YouTubeView"
            android:theme="@style/SplashAppTheme" />
        <activity
            android:name=".Womens_OutFit_InstagramView"
            android:theme="@style/SplashAppTheme" />
        <activity android:name=".Boys_OutFit_FacebookView" android:theme="@style/SplashAppTheme"/>
        <activity android:name=".Boys_OutFit_YouTubeView" android:theme="@style/SplashAppTheme"/>
        <activity android:name=".Boys_OutFit_InstagramView" android:theme="@style/SplashAppTheme"/>
        <activity android:name=".Girls_OutFit_FacebookView" android:theme="@style/SplashAppTheme"/>
        <activity android:name=".Girls_OutFit_YouTubeView" android:theme="@style/SplashAppTheme"/>
        <activity android:name=".Girls_OutFit_InstagramView" android:theme="@style/SplashAppTheme"></activity>
    </application>

</manifest>